@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?x1tsem");
  src: url("../fonts/icomoon.eot?#iefixx1tsem") format("embedded-opentype"), url("../fonts/icomoon.ttf?x1tsem") format("truetype"), url("../fonts/icomoon.woff?x1tsem") format("woff"), url("../fonts/icomoon.svg?x1tsem#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before, .icon_class {
  font-family: 'icomoon' !important; }

.icon-home:before {
  content: "\e000"; }

.icon-home2:before {
  content: "\e005"; }

.icon-newspaper:before {
  content: "\e00c"; }

.icon-pencil:before {
  content: "\e00e"; }

.icon-quill:before {
  content: "\e013"; }

.icon-marker:before {
  content: "\e01b"; }

.icon-marker2:before {
  content: "\e01d"; }

.icon-brush:before {
  content: "\e020"; }

.icon-palette:before {
  content: "\e021"; }

.icon-eyedropper:before {
  content: "\e023"; }

.icon-paint-format:before {
  content: "\e02a"; }

.icon-image:before {
  content: "\e02c"; }

.icon-camera:before {
  content: "\e036"; }

.icon-music:before {
  content: "\e03a"; }

.icon-film:before {
  content: "\e049"; }

.icon-film2:before {
  content: "\e04a"; }

.icon-camera2:before {
  content: "\e04c"; }

.icon-connection:before {
  content: "\e062"; }

.icon-podcast:before {
  content: "\e069"; }

.icon-file:before {
  content: "\e085"; }

.icon-file-plus:before {
  content: "\e087"; }

.icon-file-minus:before {
  content: "\e088"; }

.icon-file-check:before {
  content: "\e08b"; }

.icon-file-remove:before {
  content: "\e08c"; }

.icon-copy:before {
  content: "\e08e"; }

.icon-copy2:before {
  content: "\e08f"; }

.icon-paste:before {
  content: "\e093"; }

.icon-stack:before {
  content: "\e096"; }

.icon-stack2:before {
  content: "\e097"; }

.icon-folder:before {
  content: "\e0a1"; }

.icon-folder-plus:before {
  content: "\e0a5"; }

.icon-folder-minus:before {
  content: "\e0a6"; }

.icon-folder-download:before {
  content: "\e0a9"; }

.icon-folder-upload:before {
  content: "\e0aa"; }

.icon-cc:before {
  content: "\e0b2"; }

.icon-tag:before {
  content: "\e0b6"; }

.icon-barcode:before {
  content: "\e0bd"; }

.icon-qrcode:before {
  content: "\e0bf"; }

.icon-cart:before {
  content: "\e0c4"; }

.icon-cart-plus:before {
  content: "\e0c8"; }

.icon-cart-minus:before {
  content: "\e0c9"; }

.icon-cart-remove2:before {
  content: "\e0cd"; }

.icon-credit:before {
  content: "\e0d5"; }

.icon-credit2:before {
  content: "\e0d6"; }

.icon-calculate:before {
  content: "\e0d8"; }

.icon-support:before {
  content: "\e0d9"; }

.icon-phone:before {
  content: "\e0dc"; }

.icon-phone2:before {
  content: "\e0e4"; }

.icon-address-book:before {
  content: "\e0e8"; }

.icon-envelope:before {
  content: "\e0eb"; }

.icon-envelop:before {
  content: "\e0ec"; }

.icon-envelop-opened:before {
  content: "\e0ee"; }

.icon-location:before {
  content: "\e0f1"; }

.icon-map:before {
  content: "\e0fc"; }

.icon-map2:before {
  content: "\e0fd"; }

.icon-clock:before {
  content: "\e101"; }

.icon-clock2:before {
  content: "\e102"; }

.icon-clock3:before {
  content: "\e103"; }

.icon-clock4:before {
  content: "\e104"; }

.icon-bell:before {
  content: "\e10c"; }

.icon-stopwatch:before {
  content: "\e111"; }

.icon-calendar:before {
  content: "\e115"; }

.icon-print:before {
  content: "\e118"; }

.icon-mouse:before {
  content: "\e11a"; }

.icon-mouse2:before {
  content: "\e11c"; }

.icon-mouse3:before {
  content: "\e11d"; }

.icon-screen:before {
  content: "\e120"; }

.icon-mobile:before {
  content: "\e125"; }

.icon-mobile2:before {
  content: "\e126"; }

.icon-database:before {
  content: "\e138"; }

.icon-align-left:before {
  content: "\e145"; }

.icon-align-center-horizontal:before {
  content: "\e146"; }

.icon-align-right:before {
  content: "\e147"; }

.icon-align-top:before {
  content: "\e148"; }

.icon-align-center-vertical:before {
  content: "\e149"; }

.icon-align-bottom:before {
  content: "\e14a"; }

.icon-undo:before {
  content: "\e14b"; }

.icon-redo:before {
  content: "\e14c"; }

.icon-forward:before {
  content: "\e14d"; }

.icon-reply:before {
  content: "\e14e"; }

.icon-bubble:before {
  content: "\e164"; }

.icon-bubble-dots:before {
  content: "\e165"; }

.icon-bubble2:before {
  content: "\e166"; }

.icon-bubble-dots2:before {
  content: "\e168"; }

.icon-user:before {
  content: "\e18e"; }

.icon-users:before {
  content: "\e18f"; }

.icon-user-plus:before {
  content: "\e190"; }

.icon-user-cancel:before {
  content: "\e192"; }

.icon-user-block:before {
  content: "\e193"; }

.icon-busy:before {
  content: "\e1a3"; }

.icon-binoculars:before {
  content: "\e1b5"; }

.icon-search:before {
  content: "\e1b7"; }

.icon-zoomin:before {
  content: "\e1b8"; }

.icon-zoomout:before {
  content: "\e1b9"; }

.icon-expand:before {
  content: "\e1bf"; }

.icon-contract:before {
  content: "\e1c0"; }

.icon-expand2:before {
  content: "\e1c8"; }

.icon-contract2:before {
  content: "\e1c9"; }

.icon-key:before {
  content: "\e1ca"; }

.icon-keyhole:before {
  content: "\e1cf"; }

.icon-lock:before {
  content: "\e1d3"; }

.icon-unlocked:before {
  content: "\e1d4"; }

.icon-settings:before {
  content: "\e1db"; }

.icon-equalizer:before {
  content: "\e1dc"; }

.icon-cog:before {
  content: "\e1e1"; }

.icon-cog2:before {
  content: "\e1e2"; }

.icon-pie:before {
  content: "\e1f8"; }

.icon-stats:before {
  content: "\e1fe"; }

.icon-stats-up:before {
  content: "\e207"; }

.icon-podium:before {
  content: "\e216"; }

.icon-medal:before {
  content: "\e218"; }

.icon-medal2:before {
  content: "\e219"; }

.icon-medal3:before {
  content: "\e21a"; }

.icon-medal4:before {
  content: "\e21b"; }

.icon-trophy:before {
  content: "\e21e"; }

.icon-mug:before {
  content: "\e226"; }

.icon-rocket:before {
  content: "\e234"; }

.icon-lamp:before {
  content: "\e24d"; }

.icon-lamp2:before {
  content: "\e24e"; }

.icon-remove:before {
  content: "\e256"; }

.icon-airplane:before {
  content: "\e25b"; }

.icon-paperplane:before {
  content: "\e25c"; }

.icon-accessibility:before {
  content: "\e277"; }

.icon-lightning:before {
  content: "\e28d"; }

.icon-switch:before {
  content: "\e290"; }

.icon-list:before {
  content: "\e299"; }

.icon-list2:before {
  content: "\e29a"; }

.icon-numbered-list:before {
  content: "\e29c"; }

.icon-circle-small:before {
  content: "\e2ab"; }

.icon-menu:before {
  content: "\e2af"; }

.icon-cloud:before {
  content: "\e2b5"; }

.icon-cloud-download:before {
  content: "\e2b6"; }

.icon-cloud-upload:before {
  content: "\e2b7"; }

.icon-download:before {
  content: "\e2ba"; }

.icon-upload:before {
  content: "\e2bb"; }

.icon-earth:before {
  content: "\e2c7"; }

.icon-network:before {
  content: "\e2c8"; }

.icon-link:before {
  content: "\e2cd"; }

.icon-flag:before {
  content: "\e2d1"; }

.icon-attachment:before {
  content: "\e2d7"; }

.icon-eye:before {
  content: "\e2d9"; }

.icon-eye-blocked:before {
  content: "\e2da"; }

.icon-bookmark:before {
  content: "\e2e3"; }

.icon-bookmark2:before {
  content: "\e2e4"; }

.icon-bookmarks:before {
  content: "\e2e5"; }

.icon-heart:before {
  content: "\e304"; }

.icon-heart2:before {
  content: "\e305"; }

.icon-thumbs-up:before {
  content: "\e313"; }

.icon-thumbs-up2:before {
  content: "\e314"; }

.icon-people:before {
  content: "\e317"; }

.icon-man:before {
  content: "\e318"; }

.icon-woman:before {
  content: "\e31a"; }

.icon-happy:before {
  content: "\e31e"; }

.icon-smiley:before {
  content: "\e320"; }

.icon-tongue:before {
  content: "\e322"; }

.icon-sad:before {
  content: "\e324"; }

.icon-wink:before {
  content: "\e326"; }

.icon-grin:before {
  content: "\e328"; }

.icon-cool:before {
  content: "\e32a"; }

.icon-angry:before {
  content: "\e32c"; }

.icon-evil:before {
  content: "\e32e"; }

.icon-shocked:before {
  content: "\e330"; }

.icon-confused:before {
  content: "\e332"; }

.icon-neutral:before {
  content: "\e334"; }

.icon-wondering:before {
  content: "\e336"; }

.icon-cursor:before {
  content: "\e338"; }

.icon-cursor2:before {
  content: "\e339"; }

.icon-warning:before {
  content: "\e355"; }

.icon-warning2:before {
  content: "\e356"; }

.icon-notification:before {
  content: "\e357"; }

.icon-notification2:before {
  content: "\e358"; }

.icon-question:before {
  content: "\e35b"; }

.icon-question2:before {
  content: "\e35c"; }

.icon-plus-circle:before {
  content: "\e35e"; }

.icon-plus-circle2:before {
  content: "\e35f"; }

.icon-minus-circle:before {
  content: "\e360"; }

.icon-minus-circle2:before {
  content: "\e361"; }

.icon-info:before {
  content: "\e362"; }

.icon-info2:before {
  content: "\e363"; }

.icon-close:before {
  content: "\e36b"; }

.icon-checkmark:before {
  content: "\e370"; }

.icon-minus:before {
  content: "\e375"; }

.icon-plus:before {
  content: "\e376"; }

.icon-enter:before {
  content: "\e37d"; }

.icon-exit:before {
  content: "\e37e"; }

.icon-play2:before {
  content: "\e385"; }

.icon-pause2:before {
  content: "\e386"; }

.icon-stop2:before {
  content: "\e387"; }

.icon-backward2:before {
  content: "\e388"; }

.icon-forward3:before {
  content: "\e389"; }

.icon-first:before {
  content: "\e38a"; }

.icon-last:before {
  content: "\e38b"; }

.icon-eject:before {
  content: "\e38e"; }

.icon-volume-high:before {
  content: "\e38f"; }

.icon-volume-mute:before {
  content: "\e392"; }

.icon-volume-mute2:before {
  content: "\e393"; }

.icon-loop:before {
  content: "\e3a5"; }

.icon-shuffle:before {
  content: "\e3ab"; }

.icon-arrow-up:before {
  content: "\e3b0"; }

.icon-arrow-right:before {
  content: "\e3b1"; }

.icon-arrow-down:before {
  content: "\e3b2"; }

.icon-arrow-left:before {
  content: "\e3b3"; }

.icon-arrow-up42:before {
  content: "\e404"; }

.icon-checkbox-unchecked:before {
  content: "\e436"; }

.icon-radio-unchecked:before {
  content: "\e439"; }

.icon-crop:before {
  content: "\e43c"; }

.icon-crop2:before {
  content: "\e43d"; }

.icon-rulers:before {
  content: "\e43f"; }

.icon-scissors:before {
  content: "\e442"; }

.icon-font-size:before {
  content: "\e448"; }

.icon-type:before {
  content: "\e449"; }

.icon-height:before {
  content: "\e44c"; }

.icon-width:before {
  content: "\e44d"; }

.icon-bold:before {
  content: "\e44e"; }

.icon-underline:before {
  content: "\e44f"; }

.icon-italic:before {
  content: "\e450"; }

.icon-strikethrough:before {
  content: "\e452"; }

.icon-table:before {
  content: "\e466"; }

.icon-paragraph-left:before {
  content: "\e46f"; }

.icon-paragraph-center:before {
  content: "\e470"; }

.icon-paragraph-right:before {
  content: "\e471"; }

.icon-paragraph-justify:before {
  content: "\e472"; }

.icon-indent-increase:before {
  content: "\e473"; }

.icon-indent-decrease:before {
  content: "\e474"; }

.icon-embed:before {
  content: "\e47f"; }

.icon-code:before {
  content: "\e480"; }

.icon-console:before {
  content: "\e481"; }

.icon-sevensegment0:before {
  content: "\e482"; }

.icon-sevensegment1:before {
  content: "\e483"; }

.icon-sevensegment2:before {
  content: "\e484"; }

.icon-sevensegment3:before {
  content: "\e485"; }

.icon-sevensegment4:before {
  content: "\e486"; }

.icon-sevensegment5:before {
  content: "\e487"; }

.icon-sevensegment6:before {
  content: "\e488"; }

.icon-sevensegment7:before {
  content: "\e489"; }

.icon-sevensegment8:before {
  content: "\e48a"; }

.icon-sevensegment9:before {
  content: "\e48b"; }

.icon-share:before {
  content: "\e48c"; }

.icon-mail:before {
  content: "\e48e"; }

.icon-googleplus:before {
  content: "\e495"; }

.icon-google-drive:before {
  content: "\e497"; }

.icon-facebook2:before {
  content: "\e499"; }

.icon-instagram:before {
  content: "\e49c"; }

.icon-twitter:before {
  content: "\e49e"; }

.icon-feed:before {
  content: "\e4a1"; }

.icon-youtube:before {
  content: "\e4a3"; }

.icon-youtube2:before {
  content: "\e4a4"; }

.icon-vimeo2:before {
  content: "\e4a6"; }

.icon-flickr:before {
  content: "\e4ab"; }

.icon-picassa:before {
  content: "\e4ae"; }

.icon-dribbble:before {
  content: "\e4b0"; }

.icon-github:before {
  content: "\e4bc"; }

.icon-blogger:before {
  content: "\e4c1"; }

.icon-tumblr:before {
  content: "\e4c3"; }

.icon-apple:before {
  content: "\e4c6"; }

.icon-finder:before {
  content: "\e4c7"; }

.icon-android:before {
  content: "\e4c8"; }

.icon-windows8:before {
  content: "\e4ca"; }

.icon-soundcloud:before {
  content: "\e4cb"; }

.icon-skype:before {
  content: "\e4cd"; }

.icon-reddit:before {
  content: "\e4ce"; }

.icon-linkedin:before {
  content: "\e4cf"; }

.icon-pinterest:before {
  content: "\e4d7"; }

.icon-paypal:before {
  content: "\e4dd"; }

.icon-file-pdf:before {
  content: "\e4e2"; }

.icon-file-openoffice:before {
  content: "\e4e3"; }

.icon-file-word:before {
  content: "\e4e4"; }

.icon-file-excel:before {
  content: "\e4e5"; }

.icon-file-zip:before {
  content: "\e4e6"; }

.icon-file-powerpoint:before {
  content: "\e4e7"; }

.icon-file-xml:before {
  content: "\e4e8"; }

.icon-file-css:before {
  content: "\e4e9"; }

.icon-html5:before {
  content: "\e4ea"; }

.icon-css3:before {
  content: "\e4ec"; }

.icon-chrome:before {
  content: "\e4ed"; }

.icon-firefox:before {
  content: "\e4ee"; }

.icon-IE:before {
  content: "\e4ef"; }

.icon-opera:before {
  content: "\e4f0"; }

.icon-safari:before {
  content: "\e4f1"; }

.icon-instagram2:before {
  content: "\e600"; }

.icon-new:before {
  content: "\e97b"; }

.icon-book:before {
  content: "\e990"; }

.icon-graduation:before {
  content: "\e99a"; }

.icon-file-download2:before {
  content: "\e9a6"; }

.icon-file-eye2:before {
  content: "\e9ac"; }

.icon-price-tag:before {
  content: "\e9ed"; }

.icon-store:before {
  content: "\e9fc"; }

.icon-store2:before {
  content: "\e9fd"; }

.icon-basket:before {
  content: "\ea06"; }

.icon-bag:before {
  content: "\ea07"; }

.icon-bag2:before {
  content: "\ea08"; }

.icon-coins:before {
  content: "\ea0a"; }

.icon-coin-dollar:before {
  content: "\ea0b"; }

.icon-piggy-bank:before {
  content: "\ea0f"; }

.icon-wallet:before {
  content: "\ea10"; }

.icon-cash:before {
  content: "\ea11"; }

.icon-cash3:before {
  content: "\ea13"; }

.icon-display:before {
  content: "\ea70"; }

.icon-display2:before {
  content: "\ea71"; }

.icon-display3:before {
  content: "\ea72"; }

.icon-vcard:before {
  content: "\eb11"; }

.icon-spinner2:before {
  content: "\eb23"; }

.icon-spinner3:before {
  content: "\eb24"; }

.icon-spinner4:before {
  content: "\eb25"; }

.icon-spinner5:before {
  content: "\eb26"; }

.icon-spinner10:before {
  content: "\eb2b"; }

.icon-safe:before {
  content: "\eb57"; }

.icon-equalizer3:before {
  content: "\eb5d"; }

.icon-stats-bars6:before {
  content: "\eb8e"; }

.icon-mustache:before {
  content: "\ebb0"; }

.icon-meter-fast:before {
  content: "\ebe2"; }

.icon-hammer2:before {
  content: "\ebe4"; }

.icon-grid3:before {
  content: "\ec5f"; }

.icon-menu7:before {
  content: "\ec71"; }

.icon-fan:before {
  content: "\ecd4"; }

.icon-star-empty:before {
  content: "\ece0"; }

.icon-star-empty2:before {
  content: "\ece1"; }

.icon-star-full:before {
  content: "\ece2"; }

.icon-point-up:before {
  content: "\ed2c"; }

.icon-point-right:before {
  content: "\ed2d"; }

.icon-arrow-up3:before {
  content: "\edb9"; }

.icon-arrow-up4:before {
  content: "\edba"; }

.icon-arrow-right3:before {
  content: "\edbd"; }

.icon-arrow-right4:before {
  content: "\edbe"; }

.icon-arrow-down3:before {
  content: "\edc1"; }

.icon-arrow-down4:before {
  content: "\edc2"; }

.icon-arrow-left3:before {
  content: "\edc5"; }

.icon-arrow-left4:before {
  content: "\edc6"; }

.icon-circle-up4:before {
  content: "\edf4"; }

.icon-circle-right4:before {
  content: "\edf6"; }

.icon-circle-down4:before {
  content: "\edf8"; }

.icon-circle-left4:before {
  content: "\edfa"; }

.icon-checkbox-checked2:before {
  content: "\ee6e"; }

.icon-checkbox-unchecked2:before {
  content: "\ee6f"; }

.icon-toggle-on:before {
  content: "\ee74"; }

.icon-toggle-off:before {
  content: "\ee75"; }

.icon-checkmark-circle:before {
  content: "\ee76"; }

.icon-circle:before {
  content: "\ee77"; }

.icon-facebook:before {
  content: "\eeef"; }

.icon-email:before {
  content: "\e900"; }

.icon-rocket2:before {
  content: "\e901"; }

.icon-skype-with-circle:before {
  content: "\e902"; }

.icon-vine-with-circle:before {
  content: "\e903"; }

.icon-dribbble-with-circle:before {
  content: "\e904"; }

.icon-facebook-with-circle:before {
  content: "\e905"; }

.icon-flickr-with-circle:before {
  content: "\e906"; }

.icon-github-with-circle:before {
  content: "\e907"; }

.icon-google-with-circle:before {
  content: "\e908"; }

.icon-instagram-with-circle:before {
  content: "\e909"; }

.icon-linkedin-with-circle:before {
  content: "\e90a"; }

.icon-pinterest-with-circle:before {
  content: "\e90b"; }

.icon-tumblr-with-circle:before {
  content: "\e90c"; }
