@import url("icomoon.css");
@font-face {
    font-family: 'interstateregular';
    src: url('../fonts/interstate-regular-webfont.woff2') format('woff2'), url('../fonts/interstate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'interstateblack';
    src: url('../fonts/interstate-black-webfont.woff2') format('woff2'), url('../fonts/interstate-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'adobe_garamond_proitalic';
    src: url('../fonts/adobe_garamond_pro_italic-webfont.woff2') format('woff2'), url('../fonts/adobe_garamond_pro_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Global Styles */
p{margin: 0;}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.closeb {
    display: none;
}
.openb {
    display: block;
}
.pt0{padding-top: 0 !important;}
p {
    line-height: 31px;
    color: #777;
    font-weight: 300;
}
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #000;
}
body.about #content {
    padding: 0;
}
body.about .sub-section {
    // min-height: 500px;
    // padding: 1.5em 0
}
.fluid-container .row {
    margin: 0;
}

body.get-quote nav{background: #00aff8;}
#content {
    background: #fff;
}


    h2.colored{color: #00aff8;
    opacity: 0.5;}
 .row {
    padding:  1em 0
}
.about #how-we-work h3 {
    font-weight: normal;
    font-family: "open sans";
}
.about #how-we-work strong {
    font-size: 1.2em;
    display: block;
    line-height: 35px;
}
.about #how-we-work .col-lg-3 {
    margin: 0.5em 0
}
.about #our-team {
    background: #ddd;
}

.about #our-team h2 {
    opacity: 1;
    color: #aaa
}
.about #our-team .team-group {
    text-align: center;
}
.about #our-team .team-group .col-lg-3 {
    margin: 1em 0;
    line-height: 24px;
}
.about #our-team .team-group .col-lg-3 img {
    height: 256px
}
.about #our-team .team-group strong {
    display: block;
    font-size: 1.1em
}
.about #our-team .team-group i {
    display: block;
    font-style: normal;
}
.about #our-team .team-group .col-lg-3 span {
    font-size: 1.5em;
    color: #000;
    padding: 5px 0
}
.about-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    }
    .no-video .video-container video,
    .touch .video-container video {
    display: none;
    }
    .no-video .video-container .poster,
    .touch .video-container .poster {
    display: block !important;
    }
/*    .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    background: #fff;
    }*/
    .video-container .title-container {
    z-index: 10;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
bottom:0;width:100%;
    background: rgba(0,0,0,0.5);
        padding:1em 0;
    }
    .video-container .title-container h2{opacity: 1;color: #fff}
    .video-container .title-container .container{}
    .video-container .title-container .container b{color: #fff;display: block;}
    .video-container .title-container .container p{font-size: 1.2em;font-weight: 300;padding: 0.5em 0;margin-bottom: 2em;}
    .video-container .title-container:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.50em;
    height: 100%;
    }
    .video-container .title-container-wrap{
    display: inline-block;
    width: 99%;
    vertical-align: middle;}
    .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    }
    // .video-container .filter {
    // z-index: 100;
    // position: absolute;
    // background: rgba(0, 0, 0, 0.4);
    // width: 100%;
    // }
    .video-container video {
    z-index: 0;
    bottom: 0;vertical-align: top;
    }
    .video-container video.fillWidth {
    width: 100%;
    }
// a {
// -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
// -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
// -o-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
// -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
// transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
// text-decoration: none;
// border-bottom-color: transparent;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: #4e4e4e;
    font-weight: 200;
    font-family: "interstateblack";
}
/* navbar */

.button,
.button span.hover,
.button span.normal,
.button:before {
    height: 55px;
    line-height: 55px;
}
.button {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 700;
    border: none;
    outline: 0;
    background: #111;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}
.button:hover {
    color: #fff;
}
.button span.hover,
.button span.normal,
.button:before {
    transition: all .4s cubic-bezier(.9, 0, .2, 1);
}
.button:before {
    position: absolute;
    content: '';
    background-color: #000;
    width: 0;
    right: 0;
}
.button span.hover,
.button span.normal {
    padding: 0 75px;
    display: block;
    position: relative;
    top: 0;
}
.button span.hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}
.button:hover span.hover,
.button:hover span.normal {
    top: -55px;
}
.line-button {
    position: relative;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 18px 45px;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    font-size: 20px;

}
.line-button:hover {
    color: #fff;
    // background:#00aff8;
    //  -webkit-transition: background 0.8s 0.6s;
    // transition: background 0.8s 0.6s;
}
.line-button:before {
    position: absolute;
    right: 12px;
      transition: right 0.2s 0s;
}
.line-button:hover:before{right:-13px}
.LineAnimation-border {
    content: '';
    background-color: #fff;
    position: absolute;
}
.line-button .LineAnimation-border--top {
    top: 0;
    left: 100%;
    right: 0;
    height: 2px;
    -webkit-transition: left 0.2s 0.6s;
    transition: left 0.2s 0.6s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button .LineAnimation-border--right {
    left: 0;
    bottom: 100%;
    top: 0;
    width: 2px;
    -webkit-transition: bottom 0.2s 0.4s;
    transition: bottom 0.2s 0.4s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button .LineAnimation-border--bottom {
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    -webkit-transition: right 0.2s 0.2s;
    transition: right 0.2s 0.2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button .LineAnimation-border--bottom_left {
    bottom: 0;
    height: 0;
    width: 2px;
    right: 0;
    -webkit-transition: height 0.2s 0s;
    transition: height 0.2s 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button .LineAnimation-border--top_left {
    bottom: 62%;
    right: 0;
    width: 2px;
    height: 0;
    -webkit-transition: height 0.2s 0.8s;
    transition: height 0.2s 0.8s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button:hover .LineAnimation-border--top {
    left: 0;
    -webkit-transition: left 0.2s 0.2s;
    transition: left 0.2s 0.2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button:hover .LineAnimation-border--right {
    bottom: 0;
    -webkit-transition: bottom 0.2s 0.4s;
    transition: bottom 0.2s 0.4s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button:hover .LineAnimation-border--bottom {
    right: 0;
    -webkit-transition: right 0.2s 0.6s;
    transition: right 0.2s 0.6s;
}
.line-button:hover .LineAnimation-border--bottom_left {
    height: 36%;
    -webkit-transition: height 0.2s 0.8s;
    transition: height 0.2s 0.8s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.line-button:hover .LineAnimation-border--top_left {
    height: 38%;
    -webkit-transition: height 0.2s 0s;
    transition: height 0.2s 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#logo img {
    display: block;
}
nav {
    background: #fff;
    padding: 1em 0;
    z-index: 11;
    right: 0;
    left: 0;
    top: 0
}
nav .container {
    position: relative;
}
nav .menu-button {
    right: 2em;
    position: absolute;
    top: 0;

}
nav .menu-button .social{
    display: inline-block;
    vertical-align: middle;margin: 0 1em }
    nav .menu-button .social li{font-size: 1.2em;display: inline-block;vertical-align: middle;margin: 0 2px;}
        nav .menu-button .social li a{color:#aaa}
          .get-quote nav .menu-button .social li a,.portfolio nav .menu-button .social li a{color:#fff}
.menu-overlay {
    position: fixed;
    right: 0;
    top: -1000px;
    bottom: 0;
    left: 0;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s 0s;
    z-index: 11
}
.menu-overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.50em;
    height: 100%;
}
.menu-overlay.show {
    visibility: visible;
    opacity: 1;
    top: 0
}
.hamburger {
    width: 43px;
    height: 43px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;vertical-align: middle;position: relative;z-index: 111
}
.menu-overlay .menu-wrap {
    display: inline-block;
    width: 99%;
    vertical-align: middle;
    text-align: right;
    padding: 0 2em;
    box-sizing: border-box;
}
.menu-overlay .menu-wrap img {
    margin-bottom: 1em;
}
.menu-overlay .menu-wrap li a {
    font-size: 3em;
    color: #fff;
    font-family: "interstateblack";
    padding: 0.2em 0;
    display: inline-block;
    vertical-align: top;
}
.menu-overlay .menu-wrap li a:hover {
    color: #00aff8
}
.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 32px;
    background: #00aff8;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.hamburger.open span {
    background: #fff;
}
.hamburger span:first-child {
    top: 13px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 21px;
}
.hamburger span:nth-child(4) {
    top: 29px;
}
.hamburger.open span:first-child,
.hamburger.open span:nth-child(4) {
    top: 21px;
    width: 0%;
    left: 50%;
}
.hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* header style */

#hero {
    text-align: center;
    color: #fff;
    position: relative;
    background: #000 url(../images/bg3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0;
}
.home section {
    height: 100vh;
    vertical-align: middle;
}

.home section:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.50em;
    height: 100%;
}
.home section .section-content {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
// .homepage-hero-module .title-container {
//     padding: 12em 0
// }
#hero .overlay {
    // background: rgba(0, 0, 0, 0) linear-gradient(-45deg, #3c1418 12%, #0a1029 72%) repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.93;
    right: 0;
    top: 0;
    transition: background 0.3s ease 0s;
}
#hero .intro-lead-in {
    margin-bottom: 25px;
    font-size: 3em;
}
.hero-heading span {
    font-size: 28px;
    display: block;
    font-family: "interstateregular";
    color: #fff;
    text-transform: none;
}
.scroll {
    position: absolute;
    bottom: 1em;
    text-align: center;
    left: 0;
    right: 0
}
svg.mouse {
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
svg.mouse .scroller {
    fill: #ADA99D;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}
#hero .hero-heading img {
    display: inline-block;
    height: 140px;
    margin-right: 5px;
    margin-top: 1em;
}
.hero:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.50em;
    height: 100%;
}
.hero-heading h2 {
    font-family: "interstateblack";
    text-transform: none;
    text-align: left;
    font-size: 4.5em;
    font-weight: 900;
    color: #777;
    margin: 0 auto;
    line-height: 1.2;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.hero-heading h2 b {
    color: #fff
}
.hero-heading .btn {
    background: rgba(50, 58, 69, 0.9);
}
.page-scroll-arrow {
    color: #fff;
    display: inline-block;
    font-size: 3em;
    margin-top: 50px;
}
header.inner-page {
    background: #00b3dc
}
/* section */

// section {
//     padding: 5em 0;
// }
.section-heading {
    color: #ccc;
    text-transform: uppercase;
    font-size: 5em;
    opacity: 0.3;
    text-align: center;
}
.menu li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: color .3s;
}
.menu li a span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: block;
    transform: translate3d(-100%, 0, 0);
    animation: anim-out-layer .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu li a span:before {
    content: attr(data-text);
    width: 100%;
    display: block;
    transform: translate3d(100%, 0, 0);
    color: #00aff8;
    animation: anim-out-text .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu li a:hover {
    color: #fff
}
.menu li a:hover span {
    animation: anim-in-layer .3s ease forwards;
}
.menu li a:hover span:before {
    animation: anim-in-text .3s ease forwards
}
/* footer */

#footer {
    background: #000;
}
#footer .row {

    text-align: center;

}
#footer-logo {
    display: inline-block;
}
#footer h4 {
    font-weight: 400;
    font-size: 1.2em
}
#footer li {
    // padding: 0.5em 0;
    margin: 0;
}
#footer li a {
    color: inherit;
    display: block;
}
#footer .menu li {
    display: inline-block;
    vertical-align: top;
    padding: 0 1.2em
}
#footer .menu li a {
   color:#019be0
}
#footer .db {
    color: #00aff8;
    font-size: 1.2em
}
#footer .addresses {
    text-align: center;
    padding: 4em 0 2em;
    position: relative;
}
#footer .addresses h4 {
    font-size: 4em;
}
#footer .addresses p {
    font-size: 0.9em;
    color: #747c83;
}
#footer .addresses b {
    color: #eee;
    padding: 0.5em 0;
    display: block;
    font-weight: normal;
}
#footer .addresses .to-top {
    font-size: 2em;
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 48%;
    color: #fff
}
.copyright {
    font-size: 0.9em;
    text-align: center;
}
.copyright .to-top:hover {
    color: #eee
}
#footer .copyright .row {
  font-size: 0.9em;
    opacity: 0.7;

}
.copyright a {
    color: inherit;
}
#footer .quicklinks {
    text-align: center;
}
#footer .quicklinks a {
    color: #00aff8
}
.quicklinks li {
    font-size: 2.5em;
}
.#footer-contact a {
    display: inline-block;
}
/* home services */

.services-icons {
    background: #00aff8;
    color: #fff;
    text-align: center;
    margin-bottom: 4px;
    cursor: pointer;
    padding: 2em 1em;
    display: block;
    // border:10px solid #000;
    min-height: 256px;
    box-sizing: border-box;
    transition: box-shadow .3s, transform .3s
}
.services-icons:hover {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    transform: translateY(-5px);
}
.services-icons h3 {
    color: #fff;
    font-size: 2.2em;
    font-weight: 500;
    font-family: "interstateregular";
    padding: 0 0.3em
}
.services-icons p {
    color: #fff;
    margin: 0;
    font-size: 1.1em
}
.creative-service .services-icons {
    background: #ff682e;
}
.everything-service .services-icons {
    background: #00d392;
}
/*services section home */

section#services {
    background: #fff;
}
section#services .icon {
    background: #153039;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    display: inline-block;
}
section#services .icon img {
    width: 80px;
    height: 80px;
    padding: 20px;
}
section#services .col-md-3 {
    padding: 0 2px;
}
section#services .row {
    padding: 2em 0
}
.services-icons span {
    font-size: 7.2em;
    transition: all ease 1s 0s;
    padding-bottom: 0.5em;
    display: inline-block;
    padding: 0.5em 0
}
.hire-slogan {
    color: #fff;
    text-align: center;
    padding: 0;
}
.hire-slogan h5 {
    color: #fff;
    font-size: 5em;
    text-transform: none;
}
.hire-slogan p {
    font-size: 2.2em;
    color: #fff;
    margin: 0;
}
.hire-slogan .cta {
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
    position: relative;
    background-color: #019be0;
    padding: 10em 0;
    display: block;
    overflow: hidden;
}
.hire-slogan .cta div {
    position: relative;
}
.hire-slogan .cta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 140%;
    height: 100%;
    transform: translateX(100%);
    background-color: #058bce;
    opacity: 0;
    transition: transform 1.1s ease, opacity .3s ease;
}
.hire-slogan .cta:hover:before {
    transform: translateX(10%) skew(-20deg);
    opacity: 1;
}
section#features {} section#features .container {
    padding-top: 3em;
    padding-bottom: 3em;
}
section#features h4 {
    font-size: 1.6em;
    font-weight: 400;
    font-family: "interstateblack";
    padding: 10px 0;
    transition: all ease-in 0.2s 0s;
    color: #bbb
}
section#features .row {
    // padding: 2.5em 0
}
 section#features .col-md-5 {
    position: relative;
}
section#features .col-md-5 .why-hire-description strong {
    color: #ddd;
    font-size: 2em;
}
section#features .col-md-5 .why-hire-description {
    transition: all ease-in 0.1s 0s;
    padding: 1em 0
}
section#features .col-md-5 .why-hire-description p {
    font-size: 1.2em;
    padding: 1em 0;
}
section#features .col-md-5 .why-hire-description span {
    color: #bbb;
    font-size: 1.2em
}
section#features .col-md-7 .why-hire-list span {
    background: #bbb;
    transition: all ease-in 0.2s 0s;
    width: 15px;
    height: 15px;
    font-size: 2.6em;
    margin-right: 12px;
    border-radius: 50%;
    display: inline-block;
    /* border-radius: 50%; */

    vertical-align: middle;
}
section#features .col-md-7 .why-hire-list .to-hide {
    display: none;
}
// section#features .col-md-7 .why-hire-list span:before{}
section#features h4:hover,
section#features h4.active {
    color: #00aff8
}
section#features .col-md-7 .why-hire-list h4:hover span,
section#features .col-md-7 .why-hire-list h4.active span {
    background: #00aff8;
    height: 3px;
    border-radius: 0;
    transform: scale(2.5, 1) translate(-6px, 0px);
}
#selected-work {
    padding-top: 0;
}
#selected-work .swbox {
    margin: 0;
    padding: 0;
}
#selected-work .swbox .overlay {
    background-color: #00aff8;
    bottom: 0;
    right: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    cursor: url(../images/cross.png) 38 38, default;
    transition: opacity 0.5s ease 0s
}
#selected-work .swbox img {
    width: 100%;
    height: auto;
}
#selected-work .swbox .overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.50em;
    height: 100%;
}
#selected-work .swbox .overlay-wrap {
    display: inline-block;
    width: 99%;
    vertical-align: middle;
}
#selected-work .swbox .overlay strong {
    font-weight: 400;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    // border-bottom: 2px solid #fff;
    // margin-bottom: 5px;
    display: inline-block;
    padding: 10px 0;
}
#selected-work .swbox .overlay p {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
}
#selected-work .swbox:hover .overlay {
    opacity: 1
}
/* contact page */

section .page-intro {
    margin: 100px auto 0;
    float: none;
    text-align: center;
}

// #contactForm .form-group {
//     padding: 0 30px;
// }


.form-group > div#success {
    background: #99cc33 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1em;
    margin: 10px 0 20px;
    padding: 20px;
    text-align: center;
    display: none;
}
.btn {
    background: #ffc809;
    color: #fff;
    border-radius: 3px;
}
/* about us page */
/* Portfolio new page */

.fluid-container {
    width: 100%;
    // max-width: 1600px;
    margin: 0 auto;
}
.portfolio section {
    background: #fff;
}
.portfolio-images .portfolio-item {
    position: relative;
    margin-bottom: 10px;
}
.portfolio-item .prev-next {
    text-align: center;padding: 0;
}
.portfolio-item .prev-next .prev a,
.portfolio-item .prev-next .next a {
    padding: 3.5em 0;
    color: #000;
    font-size: 1.2em;
    display: block;
    transition: background ease .2s;
}
.portfolio-item .prev-next .prev a:hover,
.portfolio-item .prev-next .next a:hover {
    background: #000;
    color: #fff;
}
.portfolio-item .prev-next .prev a span,
.portfolio-item .prev-next .next a span {
    font-size: 0.8em
}
.portfolio-images img {
    margin: 0 0;
    width: 100%;
    height: auto;
}
.prev-next .prev,
.prev-next .next {
    padding: 0;
}
.portfolio-images .portfolio-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    color: #fff;
    -webkit-transition: all ease .9s;
    -moz-transition: all ease .9s;
    transition: all ease .9s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9f00+0,71006e+100&0.8+0,0.8+100 */

    background: -moz-linear-gradient(left, rgba(255, 159, 0, 0.8) 0%, rgba(113, 0, 110, 0.8) 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(left, rgba(255, 159, 0, 0.8) 0%, rgba(113, 0, 110, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to right, rgba(255, 159, 0, 0.8) 0%, rgba(113, 0, 110, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ccff9f00', endColorstr='#cc71006e', GradientType=1);
    /* IE6-9 */
}
.portfolio-images .portfolio-item:hover .portfolio-image-overlay {
    opacity: 0
}
.portfolio-content {
    position: absolute;
    z-index: 3;
    top: 45%;
    width: 100%;
    text-align: center;
}
.portfolio-image-overlay h2 {
    color: #fff;
    font-size: 4em;
}
.portfolio-content span {
    color: #fff;
    font-size: 1.5em;
}
/* single portfolio */

.portfolio nav {
    background: transparent;
}
.portfolio .hamburger span ,.get-quote .hamburger span {
    background: #fff
}
.portfolio-item section {
    padding: 0;
}
.portfolio .portfolio-item .portfolio-head {
    padding: 5em 0 2em;
    position: relative;
}
.portfolio .portfolio-item .portfolio-head h2 {
    font-size: 4em;
    color: #fff
}
.portfolio .portfolio-item .portfolio-head .text-center {
    position: absolute;
    top: -3em;
    color: #fff;
    left: 0;
    right: 0
}
.portfolio .portfolio-item .portfolio-head .text-center a {
    color: #eee;
    font-size: 1.1em;
}
.portfolio .portfolio-item .portfolio-head .text-center a:hover {
    color: #fff
}
.portfolio .portfolio-item .display-screen .row{padding: 0;}
a.arrow-effect {
    vertical-align: middle;
}
a.arrow-effect span {
    font-size: 0.9em;
    transition: all ease 0.3s 0s;
    display: inline-block;
}
a.arrow-effect.left span {
    margin-right: 5px;
}
a.arrow-effect.right span {
    margin-left: 5px;
}
a.arrow-effect.left:hover span {
    transform: translate(-5px, 0px)
}
a.arrow-effect.right:hover span {
    transform: translate(5px, 0px)
}
.portfolio-item p {
    text-align: justify;
}
.portfolio-item .fluid-container img {
    width: 100%
}
.portfolio-item .portfolio-bottom {
    background: #f5f5f5;
    // padding: 3em 0 0
}
.portfolio-item .project-launch-cta {
    padding: 2em 0
}
.portfolio-item h5 {
    font-weight: 300;
    font-size: 1.5em
}
.sigle-portfolio-item-imac {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    background: url(../images/macbook.png) 50% 0 no-repeat;
    background-size: cover;
}
.sigle-portfolio-item-imac .screen {
    position: absolute;
    z-index: 1;
    top: 114px;
    right: 168px;
    bottom: 163px;
    left: 169px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 15s ease;
}
.sigle-portfolio-item-imac:hover .screen {
    background-position: 0 100%;
}
.description-box {
    // background: #ffc809;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.description-box .col-md-8,
.description-box .col-md-4 {
    padding-top: 6em;
    padding-bottom: 6em
}
.description-box-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
}
.description-box-bg:before,
.description-box-bg:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: ""
}
.description-box-bg:before {
    left: 0;
    right: 50%;
    background: #fff;
}
.description-box-bg:after {
    left: 50%;
    right: 0;
    background: #f5f5f5;
}
.overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background: #fff;
    color: #000;
}
.overview p {
    width: 80%
}
.description-box .overview-techs .block {
    margin-bottom: 1.5em;
}
.description-box .overview-techs strong {
    display: block;
    padding: 10px 0
}
.description-box .overview-techs li {
    line-height: 1.5;
}
.description-box h2 {
    font-size: 3em;
}
.description-box h3 {
    margin-bottom: 20px;
    font-size: 2em
}
.description a {
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
}
#testimonials {
    background: url(../images/sample-testimonial2.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0
}
#testimonials h2 {
    opacity: 1;
    color: #fff
}
#testimonials p {
    padding: 1.5em 0 0;
    font-size: 2em;
    color: #fff;
    font-style: italic;
    font-family: 'adobe_garamond_proitalic';
    line-height: 50px;
    margin: 0;
}
#testimonials p strong {
    font-style: normal;
    font-size: 21px;
    display: block;
    color: #00aff8;
    font-family: "open sans"
}
.services #content {
    padding: 0;
}
.services .services-section {

}
.services .services-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.services .services-section .container {
    position: relative;
}
.services .services-section p {
    /* text-align: justify; */
    font-size: 1.4em;
    color: #000;
    line-height: 41px;
    font-weight: normal;
    color: #555;
}
.services .services-section i {
    position: absolute;
    font-size: 61em;
    left: 0;
    opacity: 0.05;
    left: -0.5em;
    top: 0.2em;
}
.services .services-section h5 {
    font-size: 1.5em;
    font-family: "Open sans";
    padding: 0.5em 0
}
.services .services-section h2{

    font-size: 4em;
color:#ccc
}

.services .services-section .row .col-md-4,.services .services-section .row .col-md-8 {
padding-top: 1em;padding-bottom: 1em;vertical-align: middle;
}
.services .services-section .row .col-md-8 {padding-top: 0;}
.services .services-section .row .col-md-4 img {
    width: 100%;
}



.services .services-section ul{list-style: disc;padding-left: 1em;}
.services .services-section ul li{
        font-size: 1.3em;

    line-height: 1.2;
}
.get-quote h3{font-family: 'open sans';text-align: center;color:#4e4e4e;
margin-bottom: 50px;}


.get-quote section{background: #fff;}


.get-quote form{
max-width: 700px;
    margin: 0 auto;}

.get-quote .line-button {
    color:#000;
    margin:0 auto;

}
#contactForm .form-group{
    text-align: center;
}

.get-quote .LineAnimation-border{
    background: #000;
}


#contactForm input[type="text"],
#contactForm input[type="email"] {
    background: white none repeat scroll 0 0;
    border:1px solid #000;
    color: #1a1c1a;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 55px;
    left: 0;
    text-indent: 20px;
    width: 100%;
}
#contactForm textarea {
    background: white none repeat scroll 0 0;
   border:1px solid #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 200px;
    padding: 16px;
    width: 100%;
}
// .recent-work section{padding: 1em 0;}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,#contactForm textarea:focus{outline: none;border-color:#00aff8}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
color: #00aff8;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{
color: #00aff8;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
color: #00aff8;
}






@media screen and (min-width: 35.5em) {} @media screen and (min-width: 48em) {} @media screen and (min-width: 64em) {} @media screen and (min-width: 80em) {}
